@media only screen and (max-width: 768px) {
	h2 {
		margin-bottom: 0.8rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	.container {
		width: 90%;
	}

	#char-img {
		width: 200px;
		height: 200px;
		border: 1px solid yellow;
	}

	button {
		margin-top: 3rem;
	}
}

@media only screen and (max-width: 480px) {
	h2 {
		margin-bottom: 0.8rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	.container {
		width: 95%;
	}

	.info-flex {
		flex-direction: column;
		text-align: center;
		margin-top: 1rem;
		gap: 1rem;
	}

	#char-img {
		width: 200px;
		height: 200px;
		border: 1px solid yellow;
	}

	button {
		margin-top: 2rem;
	}
}

@media only screen and (max-width: 320px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1rem;
	}

	.container {
		width: 98%;
	}
}
